@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.arrow-slide {
  animation: slide 1.5s linear infinite;
}

.arrows-container {
  display: flex;
  position: absolute;
}

@keyframes scroll {
  0% {
    transform: translateX(-66.66%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 2s linear infinite;
  color: #1ca941;
}

/* Add container styles */
.device-detail-container {
  height: 93vh;
  overflow-y: auto;
  padding-right: 8px;
}

/* Custom scrollbar styles */
.device-detail-container::-webkit-scrollbar {
  width: 8px;
}

.device-detail-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.device-detail-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.device-detail-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
