.button-group {
  display: flex;
  overflow: hidden;
}

.group-button {
  border-radius: 0;
  margin: 0;
}

.group-button:hover {
  opacity: 1 !important;
  scale: 1 !important;
  transform: none !important;
}

.button-setting {
  width: 30px;
  height: 30px;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 1s ease-in-out !important;
  will-change: transform;
}

.button-setting:hover {
  opacity: 1 !important;
  scale: 1 !important;
  background: transparent !important;
  animation: rotate-infinite 1s ease-in-out infinite !important;
}

@keyframes rotate-infinite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}